{
  "semi": false, // 是否在语句末尾加分号
  "singleQuoter": true, // 是否使用单引号
  "tabWidth": 2, // 缩进的空格数
  "useTabs": true, // 是否使用tab缩进
  "trailingComma": "none", // 多行时尽可能打印尾随逗号。（例如：在最后一个元素后打印逗号）。可用选项："none" | "es5" | "all"
  "printWidth": 80, // 一行最多多少字符
  "bracketSpacing": true, // 在对象，数组括号与文字之间加空格 "{ foo: bar }"。{ foo: bar } => { foo: bar }
  "arrowParens": "always" // 箭头函数参数只有一个时是否要有小括号。可用选项："avoid" | "always"
}