{
  "presets": [
    ["@babel/preset-env", {"modules": false}] // 开始摇树功能
  ],
  "plugins": [
    ["import", {"library": "lodash"}], // 实现按需加载lodash库
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    ["@babel/plugin-proposal-class-properties", {"loose": true}], // 松散模式 就是不严格的模式
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3,  // 启动polyfill
        "helpers": true,
        "regenerator": true,
        "useESModules": true
      }
    ]
  ] 
}