
@use 'sass:math';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
}

$size: 200px;
$n: 6;
$pDeg: 360deg / $n;
$r: $size / 2;
$R: $r / math.sin($pDeg/2);
$innerSize: $R * 2;
.container {
  width: $size;
  height: $size;
  outline: 5px solid #fff;
  border-radius: 50%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.inner {
  width: $innerSize;
  height: $innerSize;
  border-radius: 50%;
  flex-shrink: 0;
  margin-top: $r;
  position: relative;
  img {
    width: $size;
    height: $size;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -$size / 2;
    top: -$size / 2;
    transform-origin: center #{$R + $r};
    @for $i from 1 through $n {
      &:nth-child(#{$i}) {
        transform: rotate(calc($pDeg * ($i - 1)));
      }
    }
  }
}

$u: 1 / $n * 100%;
$stopPercent: 0.6 * $u;
@keyframes moving {
  @for $i from 1 through $n {
    $p: $u * $i;
    $deg: $pDeg * $i;
    #{$p - $stopPercent}, 
    #{$p}{
      transform: rotate(-$deg);
    }
  }
}

.inner {
  animation: moving 10s infinite;
}
