<h1>用户列表</h1>
<a href="/admin/users/create" class="btn btn-success mb-3">添加用户</a>
<table class="table">
  <thead>
    <tr>
      <td>用户名</td>
      <td>邮箱</td>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td>{{this.username}}</td>
      <td>{{this.email}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
