<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/dashboard">CMS</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">欢迎，admin</a>
          <ul class="dropdown-menu">
            <li>
              <a href="" class="dropdown-item">退出登录</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>