<div class="col-md-3 col-lg-2 p-0">
  <div class="accordion" id="sidebarMenu">
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1">权限管理</button>
      </h2>
      <div class="accordion-collapse collapse" id="collapse1">
        <div class="accordion-body">
          <ul class="list-group">
            <li class="list-group-item">
              <a href="/admin/users">用户管理</a>
            </li>
            <li class="list-group-item">
              <a href="/admin/roles">角色管理</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>